
$white: #FFFFFF;

$hoppie: (
  50 : #e9eaf2,
  100 : #c9cbdf,
  200 : #a5a9ca,
  300 : #8186b5,
  400 : #666ca5,
  500 : #4b5295,
  600 : #444b8d,
  700 : #4639C6,
  800 : #3b2fad,
  900 : #2a2280,
  A50 : #ebf5fc,
  A100 : #deeef8,
  A200 : #cde5f5,
  A300 : #bddcf1,
  A400 : #9bcbea,
  A500 : #8ac2e6,
  A600 : #78bae2,
  A700 : #66b1de,
  A800 : #3d8eb6,
  A900 : #2786b9,
  G100 : #edfae6,
  G200 : #EEFFE5,
  G300 : #DDFFCC,
  G400 : #BAFF99,
  G500 : #A6FF83,
  G600 : #99EE74,
  G700 : #92EE66,
  G800 : #5E9942,
  G900 : #4d644c,
  R100 : #FEE9E5,
  R200 : #FED4CB,
  R300 : #FEBFB2,
  R400 : #FF9680,
  R500 : #F77255,
  R600 : #F36040,
  R700 : #EE4D2A,
  R800 : #9b311a,
  R900 : #623532,
  Y100 : #FFFDFB,
  Y200 : #FFFCF6,
  Y300 : #FFF7E1,
  Y400 : #FFF2CC,
  Y500 : #FFEDB7,
  Y600 : #FFE682,
  Y700 : #F5DB40,
  Y800 : #EBCB30,
  Y900 : #E1BB20,
  Y950 : #604e03,
  GRSC0 : #FFFFFF,
  GRSC100 : #F7F8F9,
  GRSC200 : #E5E5E5,
  GRSC300 : #DEDEDE,
  GRSC400 : #CBCBCB,
  GRSC500 : #A5A5A5,
  GRSC600 : #5E5E5E,
  GRSC700 : #3A3A3A,
  GRSC800 : #1E1E1E,
  GRSC900 : #131313,
);
