<div class="container">
  <div class="onboarding">
    <img src="../../../assets/img/planet_illustration.svg" alt="">
    <div class="title">Hoppie</div>
    <div class="greeting"> {{ 'Nice to meet you' | transloco}}!</div>
    <div
      class="description">{{ 'At Hoppie we help travellers quickly find great going out venues that match their individual moods and preferences, by using AI-based matchmaking' | transloco }}</div>
    <div class="btn-xl btn-purple">{{ 'Start the journey' | transloco }}</div>
  </div>
</div>
